body{
    background-image: linear-gradient(to left,black,rgb(146, 1, 1));
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}
h1{
    text-align: center;
    font-size:50px;
    text-shadow: 4px 4px 4px black;
    margin: auto;
}
h1#titulo{
    margin-bottom:20px;
}
h1#header{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
section{
   background-image:linear-gradient(to top, rgb(49, 49, 49),rgb(138, 138, 138));
    border-radius: 30px;
    width: 800px;
    min-height: 500px;
    padding: 30px;
    margin:auto;
    box-shadow: 5px 5px 10px rgb(7, 2, 2);
    text-shadow: 2px 2px black;
    font-size: 18px;
}
h2{
    font-size:23px;
    text-shadow: 6px 6px 6px black;
}
form{
    width: 300px;
    margin: auto;
    padding: 10px;
}
div{
    width: 500px;
    margin: auto;
}
header{
    background-image: url("../Imagens/imagemHeader.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
    border-radius:15px;
    border:1px solid black;
    transition:1s;
}
header:hover{
    -webkit-filter: drop-shadow(15px 15px 15px  rgba(216, 0, 0, 0.911));
    filter: drop-shadow(15px 15px 15px rgba(216, 25, 0, 0.911));
    transition: 1s;
}
div#btns{
    width:300px;
    margin: auto;
    margin-top:200px;
}
input.irVoltar{
    width: 200px;
    height: 45px;
    background: rgb(160, 160, 160);
    color: rgb(134, 134, 134);
    cursor: pointer;
    border:0;
    border-radius: 30px;
    transition: 1s  ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
input.irVoltar:hover{
    color: white;
    background-color:darkred;
}
input.btns{
    width: 150px;
    height: 45px;
    background: rgb(160, 160, 160);
    color: rgb(134, 134, 134);
    cursor: pointer;
    border:0;
    border-radius: 30px;
    transition: 1s  ;
    font-size: medium;
    margin-top: 20px;
}
input#enviarPagina{
    margin-top:20px;
}
input.btns:hover{
    color: white;
    background-color:darkred;   
}
label{
    font-size: 25px;
    text-shadow: 5px 5px 5px black;
}
label:hover{
    -webkit-filter: drop-shadow(5px 5px 5px  rgba(0, 0, 0, 0.911));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.911));
    transition: 1s;
}